.img-logo {
  width: 66%;
}

.navbar {
  min-height : 120px;
}

.pull-right {
    margin-right: 50px;
}

.content{
  min-height : 800px;
}


.wine-block {
  width : 200px;
  float : left;
  color : #FFF;
  font-size: 20px;
  text-decoration : none;
  float : right;
}



.fnd-wine-button {
  width: 200px;
  background-color: #8d375d;
  line-height: 200px;
  display: block;
  text-align: center;
}

.movie-block{
  width : 200px;
  color : #FFF;
  font-size: 20px;
  text-decoration : none;
  float :right;
}


.fnd-movie-button {
  width: 200px;
  background-color: #8d375d;
  line-height: 200px;
  display: block;
  text-align: center;
}

.movie-block {
  width: 200px;
  float: left;
}

.fnd-movie-button {
  height: 200px;
  width: 200px;
  background-color: #8d375d;
}

.movie-block {
  width: 200px;
  float: left;
}

.fnd-movie-button {
  height: 200px;
  width: 200px;
  background-color: #8d375d;
}

.movie-block {
  width: 200px;
  float: left;
}

.fnd-movie-button {
  height: 200px;
  width: 200px;
  background-color: #8d375d;
}

.movie-block {
  width: 200px;
  float: left;
}

.fnd-movie-button {
  height: 200px;
  width: 200px;
  background-color: #8d375d;
}

<<<<<<< HEAD
.movie-block {
  width: 200px;
  float: left;
}

.fnd-movie-button {
  height: 200px;
  width: 200px;
  background-color: #8d375d;
}

.movie-block {
  width: 200px;
  float: left;
}

.fnd-movie-button {
  height: 200px;
  width: 200px;
  background-color: #8d375d;
}

.navbar {
  background-color : #8d375d;
 }

 .header .navbar-default a {
  color: #fff !important;
  font-size: 18px;
}

.wine-block span {
  font-size: 18px;
  color: #fff;
 }

 a:hover, a:visited {
  color : #FFF;
  text-decoration : none;
 }

.movie-block span {
  font-size: 18px;
  color: #fff;
}

.search-wrapper {
  text-align : center;
  margin-bottom : 50px;
}

.input-search {
    align-self: center;
    border: none;
    border-radius: 20px;
    background-size: 15px 15px;
    color: #545454;
    font-weight: 300;
    padding-left: 32px;
    height: 40px;
    font-size: 18px;
    outline: none;
    width: 500px;
    border: 1px solid #8d375d;
}

.pairing-info {
  text-align: center;
}