.img-logo {
  /*padding-right : 10px;*/
}

.home_logo {
  color: #fff;
  font-size: 24px;
  }


.pull-right {
    margin-right: 50px;
}

.content{
  display: inline-block;
  zoom: 1;
  margin-top : 100px;
}


.wine-block {
  width : 200px;
  float : left;
  color : #FFF;
  font-size: 20px;
  text-decoration : none;
  float : right;
}



.fnd-wine-button {
  width: 200px;
  line-height: 200px;
  display: block;
  text-align: center;
  height: 200px;
  border: 2px solid #ffffff;
  margin-left: 50px;
}

.movie-block{
  width : 200px;
  color : #FFF;
  font-size: 20px;
  text-decoration : none;
  float :right;
}


.fnd-movie-button {
  width: 200px;
  line-height: 200px;
  display: block;
  text-align: center;
  height: 200px;
  border: 2px solid #ffffff;
  margin-left: -50px;
}



.navbar {
  background-color : #8d375d;
  border: none;
  border-radius: 0;
 }

 .header .navbar-default a {
  color: #fff !important;
  font-size: 18px;
}

.wine-block span {
  font-size: 18px;
  color: #fff;
 }

 a:hover, a:visited {
  color : #FFF;
  text-decoration : none;
 }

.movie-block span {
  font-size: 18px;
  color: #fff;
}

.search-wrapper {
  text-align : center;
  margin-bottom : 50px;
}

.input-search {
    align-self: center;
    border: none;
    border-radius: 20px;
    background-size: 15px 15px;
    color: #545454;
    font-weight: 300;
    padding-left: 32px;
    height: 40px;
    font-size: 18px;
    outline: none;
    width: 500px;
    border: 1px solid #8d375d;
}

#content-main {
  min-height: 100vh;
    padding: 30px 0;
    text-align: center;
    background: url(../assets/photo-background.jpg) no-repeat center;
    background-size: cover;
    margin: -20px 0;
    border: none;
 }

 hr {
    width: 80%;
}

footer {
  background-color: #8d375d;
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
}



footer a {
  color : #fff;
 }

 footer .text-center {
  color : #fff;
 }


.pairing-info {
  text-align: center;
}

.col-desktop{
    display: block;
  }

.col-responsive{
    display: none;
  }

@media only screen and (max-device-width: 480px) {

  #app {
    width: 100%;
  }

  #content-main {
    min-height: 100vh;
    width: 100%;
    padding: 0 0 0 0;
    background: url(../assets/photo-background.jpg) no-repeat center;
    background-size: cover;
   }

  .img-logo {
    width: 100%;
    padding-left: 10px;
   }

  .content{
    margin-top: 20px;
    text-align: center;
   }

  .wine-block, .movie-block {
    width: 200px;
    float: none;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
  }
  .fnd-wine-button, .fnd-movie-button {
    width: 240px;
    line-height: 100px;
    display: block;
    text-align: center;
    height: 100px;
    border: 2px solid #ffffff;
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .navbar {

    background-color : #8d375d;
    border: none;
    border-radius: 0;
  }

  .header {
    width: 100%;
    color: #fff !important;
    font-size: 18px;
  }

  footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:180px;   /* Height of the footer */
  }

  footer a {
    color : #fff;
  }

  footer .text-center {
    color : #fff;
  }

  .input-search {
    width: 100%;
  }

  .wine-image {

  }

  .thumbnail {
    width: 60%;
  }

  .wine-name-responsive {
    display: block;
  }

  .responsive-list {
    width: 100% !important;
    display: block !important;
  }

  .col-desktop{
    display: none;
  }

  .col-responsive{
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
}