.img-logo {
  width: 66%;
}

.navbar {
  min-height : 120px;
}

.pull-right {
    margin-right: 50px;
}

.content{
  min-height : 800px;
}

.wine-block{
  width : 200px;
  float : left;
  color : #FFF;
  font-size: 20px;
  text-decoration : none;
}



.fnd-wine-button {
  width: 200px;
  background-color: #8d375d;
  line-height: 200px;
  display: block;
  text-align: center;
}

.movie-block{
  width : 200px;
  color : #FFF;
  font-size: 20px;
  text-decoration : none;
  float :right;
}


.fnd-movie-button {
  width: 200px;
  background-color: #8d375d;
  line-height: 200px;
  display: block;
  text-align: center;
}

.navbar {
  background-color : #8d375d;
 }

 .header .navbar-default a {
  color: #fff !important;
  font-size: 18px;
}

.wine-block span {
  font-size: 18px;
  color: #fff;
 }

 a:hover, a:visited {
  color : #FFF;
  text-decoration : none;
 }